---
# Ansible playbook to set up a Chocolate Doom deathmatch server
# Usage: ansible-playbook -i inventory doom-server.yml

- name: Set up Chocolate Doom Server
  hosts: doom_servers
  become: yes
  vars:
    doom_user: doom
    doom_dir: /opt/doom
    doom_port: 2342
    wad_url: "https://distro.ibiblio.org/slitaz/sources/packages/d/doom1.wad"

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install Chocolate Doom and dependencies
      apt:
        name:
          - chocolate-doom
          - screen
        state: present

    - name: Create doom user
      user:
        name: "{{ doom_user }}"
        system: yes
        shell: /usr/sbin/nologin
        home: "{{ doom_dir }}"
        create_home: yes

    - name: Create doom directory
      file:
        path: "{{ doom_dir }}"
        state: directory
        owner: "{{ doom_user }}"
        group: "{{ doom_user }}"
        mode: '0755'

    - name: Download DOOM shareware WAD
      get_url:
        url: "{{ wad_url }}"
        dest: "{{ doom_dir }}/doom1.wad"
        owner: "{{ doom_user }}"
        group: "{{ doom_user }}"
        mode: '0644'

    - name: Create server launch script
      copy:
        dest: "{{ doom_dir }}/start-server.sh"
        owner: "{{ doom_user }}"
        group: "{{ doom_user }}"
        mode: '0755'
        content: |
          #!/bin/bash
          # Chocolate Doom Deathmatch Server
          cd {{ doom_dir }}
          exec chocolate-doom-server \
            -iwad doom1.wad \
            -port {{ doom_port }} \
            -deathmatch \
            -timer 10 \
            -skill 4

    - name: Create systemd service for Doom server
      copy:
        dest: /etc/systemd/system/doom-server.service
        mode: '0644'
        content: |
          [Unit]
          Description=Chocolate Doom Deathmatch Server
          After=network.target

          [Service]
          Type=simple
          User={{ doom_user }}
          WorkingDirectory={{ doom_dir }}
          ExecStart={{ doom_dir }}/start-server.sh
          Restart=always
          RestartSec=5

          [Install]
          WantedBy=multi-user.target

    - name: Reload systemd
      systemd:
        daemon_reload: yes

    - name: Enable and start Doom server
      systemd:
        name: doom-server
        enabled: yes
        state: started

    - name: Open firewall port for Doom (if ufw is active)
      ufw:
        rule: allow
        port: "{{ doom_port }}"
        proto: udp
      ignore_errors: yes

    - name: Display server info
      debug:
        msg: |
          Doom server is running!
          Connect with: -connect {{ ansible_host }}:{{ doom_port }}
          
          Check status: systemctl status doom-server
          View logs: journalctl -u doom-server -f



